*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    /* background-color: greenyellow; */
    background-image: url('loginwallpaper.jpg');
    background-position: center;
    background-size: cover;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container{
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    /* border-radius: 10px; */
    overflow: hidden;

    background: transparent;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    /* background-color: blueviolet; */
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
}

h2{
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    color: white;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}

.content,.secretword{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.inputbox{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.inputbox:nth-child(2n){
    justify-content: end;
}

.inputbox label{
    width: 95%;
    color: white;
    font-weight: bold;
    margin: 5px 0;
}

.inputbox input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

/*When click inputbox show shadow*/
.inputbox input:is(:focus,:valid){
    box-shadow: 0 3px 6px rgb(0,0,0,0.2);
}

.button_container{
    margin: 15px 0;
}

.button_container button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: black;
    border: none;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    transition: 0.3s;
}

@media(max-width:600px){
    .container{
        min-width: 280px;
    }
    .content{
        max-height: 380px;
        overflow: auto;
    }
    .inputbox{
        margin-bottom: 12px;
        width: 100%;
    }
    .inputbox:nth-child(2n){
        justify-content: space-between;
    }
    .content::-webkit-scrollbar{
        width: 0; 
    }
}

.back{
    font-size: .9em;
    color: white;
    text-align: center;
    margin: 25px 0 10px;
}

.back p a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.back p a:hover{
    text-decoration: underline;
}